<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="eService_B2C" connectionString="Data Source=10.61.102.3;Initial Catalog=eService_B2C;user id=sa;password=P@ssw0rd;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>